form {
  max-width: 768px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 1rem;
  column-gap: 2rem;
}

@media (min-width: 640px) {
  form {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

label {
  display: flex;
  flex-direction: column;
}

label > input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #b0a8a875;
}

label > input:hover {
  background-color: rgb(248, 242, 242);
}

label > input:focus-visible {
  border: none;
  outline: 1px solid #6c63ff;
}

.label-file {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin: auto 0;
  font-size: xx-large;
}

.label-file input {
  display: none;
}
